/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f4f4f4; /* Light background color */
    color: #333; /* Dark text color */
    line-height: 1.6;
}


/* Main Content */
main {
    padding: 40px 20px;
    background-color: #3d5528; /* Sequoyah primary color */
    color: white;
    padding: 20px 0;
    text-align: center;
}




/* Buttons */
button {
    background-color: #004d63;
    color: white;
    padding: 10px 20px;
    font-size: 1.1em;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #003c4f;
}
