/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #3d5528;
    color: white;
    line-height: 1.6;
    padding: 20px 0;
    text-align: center;
}

a, a:visited {
    color: white;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.artpiece {
    padding: 10px;
    text-align: left;
    width: 250px;
    margin: 40px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artpiece img {
    width: 100%;
    height: auto;
    display: block;
}

.name {
    font-style: italic;
    font-weight: 100;
    font-size: x-small;
    margin-left: 10px;
    color: rgba(255,255,255,0.9);
}

.title {
    font-weight: bold;
}

.language {
    font-weight: 100;
    font-size: xx-small;
    margin-top: 5px;
    font-style: italic;
    color: rgba(255,255,255,0.8);
}